.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 22px;
  color: #ff9001;
}
.nav .user-icon {
  width: 40px;
  border-radius: 50%;
}
.user-menu {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 45px; /* Positions the dropdown just below the icon */
  right: 0;
  background-color: #232530;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: auto;
  z-index: 1000; /* Ensures it overlays other elements */
}

.dropdown-button {
  background: none;
  border: none;
  padding: 12px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: #ff9001; /* Default text color */
  transition: background-color 0.2s, color 0.3s ease, transform 0.3s ease;
}

.dropdown-button:hover {
  background-color: #08080a;
  color: #ffffff; /* Ensure text color is white on hover */
  transform: scale(1.05);
}

.logout-button {
  color: red;
}

.logout-button:hover {
  color: darkred; /* Changes the text color to dark red when hovered */
  transform: scale(1.05); /* Slightly enlarges the button on hover */
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #292943; /* Default background color */
  border-radius: 50%; /* Makes it circular */
  cursor: pointer; /* Indicates interactivity */
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.title {
  cursor: pointer;
  font-size: x-large;
  margin-left:2rem;
}
.user-icon:hover {
  background-color: #3f4564;
}

.user-icon::before {
  font-size: 20px;
}

